__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

*.pt
*.pth
*.ckpt
*.safetensors

.env
.venv
env/
venv/
ENV/

.ipynb_checkpoints
*.ipynb

.DS_Store
.vscode/
.idea/

data/
datasets/
logs/
checkpoints/
outputs/

*.mp4
*.avi
*.mov
*.webm


.history